.button {
    display: inline-block;
    align-items: center;
    min-width: 200px;
    padding: 10px 32px;
    color: var(--primary-bg-color);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188CE8;
    }

}

