.logo-footer {
  margin-bottom: 20px;
}

.page-footer .logo-left {
  color: #2196f3;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 0.03em;
  @include mq(desktop) {
    font-size: 26px;
    line-height: 31px;
  }
}

.page-footer .logo-right {
  color: var(--primary-bg-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 0.03em;
  @include mq(desktop) {
    font-size: 26px;
    line-height: 31px;
  }
}

.logo-address {
  @include mq(tablet-only) {
    margin-left: 76px;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
}
