.logo-footer {
    margin-bottom: 20px;
}

.page-footer .logo-left {
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}

.page-footer .logo-right {
    color: var(--primary-bg-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

}

.logo-address {
    margin-right: 70px;
}