/* Backdrop */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

    .form {
        transform: translate(-50%, -50%) scale(0, 5);
        opacity: 0;
    }
    }
}

.form {
    position: absolute;
    padding: 40px;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);

&-title {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;

        color: #212121;
}

&-group {
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
}

&-comment {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;
    color: #757575;
}

&-policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    color: #757575;
}

&-label {
    display: block;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;
    color: #757575;
}

&-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &-container {
        position: relative;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus-within {
            .form-input {
                border-color: var(--accent-color);
            }

            .form-icon {
                fill: var(--accent-color);
            }
        }
    }
}
}

.icon-close {
    width: 18px;
    height: 18px;
}

.close {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    fill: var(--accent-color);
}
}

.comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 16px 12px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:placeholder-shown {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

&:focus,
&:hover {
    outline: 1px solid var(--accent-color);
}
}

.checkbox {
    display: flex;
    margin-right: 9px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

&-label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;

    &-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;

        letter-spacing: 0.03em;
        text-decoration-line: underline;

        color: #2196F3;
    }
}
}

.custom-checkbox {
    appearance: none;

&:checked+.checkbox {
    background-color: #2196F3;
    border-color: #2196F3;

& .checkbox-icon {
    opacity: 1;
    fill: #FFFFFF;
}
}

}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: transparent;
}
