/* Our work */
.work {
    padding-bottom: 94px;

 &__list {
        display: flex;

    li+li {
        margin-left: 30px;
    }
    }

&__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

&__example {
    display: flex;
    position: relative;
}

&__example-title {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0%;
    right: 0%;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
}